    .home{
        width:100%;
        height:500px;
    }

.about{
    width:80%;
    margin:3px auto;
}
.about .left{
    height:1000px;
    overflow:auto;
    text:black;
    /*background:red;*/
}
.about .right{
    height:1000px;
    /*background:green;*/
}
.about .logo{
    width:180px;
    height:180px;
    margin:40px auto;
    border-radius:90px;
    background: rgba(254, 255, 59, 0.26);
    overflow:auto;
    text-align: center;
}
.about img{
    margin:20px auto;
}
.about h2{
    color:darkred;
}
.about p{

    text-decoration: none;
}
.more{
    display: inline-block;
    color: blue;
}
.more:hover{
    cursor:pointer;
}
.newscontent{

    /*white-space:pre-line;*/
    overflow:hidden;
    text-overflow:ellipsis;

    max-height: 100px;

    padding:0px;
}
.newscontent_p:hover{
    cursor: pointer;
}
